@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,500,700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif !important;
}

/*Background*/
.cs-bg-light {
    background: rgb(235,242,252) !important;
    background: linear-gradient(180deg, rgba(235,242,252,1) 0%, rgba(238,248,249,1) 100%) !important;
}